{% extends 'hospital/admin_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Recepcionistas Aplicadas<h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Foto de Perfil</th>
          <th>Telefone</th>
          <th>Endereço</th>
          <th>Aprovar</th>
          <th>Rejeitar</th>
        </tr>
      </thead>
      {% for d in recepcionistas %}
      <tr>
        <td> {{d.get_name}}</td>
        <td> <img src="{% static d.fotoperfil.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{d.telefone}}</td>
        <td>{{d.endereco}}</td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'aprovar-recepcionista' d.id  %}"><span class="glyphicon glyphicon-ok"></span></a></td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'rejeitar-recepcionista' d.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>


</div>


{% endblock content %}