{% extends 'hospital/patient_base.html' %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Seus Compromissos</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Nome do Doutor(a)</th>
          <th>Descrição</th>
          <th>Data</th>
          <th>Status</th>
        </tr>
      </thead>
      {% for a in compromissos %}
      <tr>
        <td> {{a.doutorNome}}</td>
        <td>{{a.descricao}}</td>
        <td>{{a.compromissoData}}</td>
        {%if a.status%}
        <td> <span class="label label-primary">Confirmado</span></td>
        {% else %}
        <td> <span class="label label-success">Pendente</span></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


{% endblock content %}
